@use 'sass:color';
@use '../../../../../theme/variables.scss' as *;

:host {
  display: block;

  .container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .welcome-image {
      width: 180px;
      height: auto;
      margin-bottom: 24px;
    }

    .change-segment {
      width: 75%;
      max-width: 420px;
      margin-bottom: 20px;
      color: $pure-white;
    }

    ion-segment-button::part(indicator-background) {
      background-color: $primary-red;
    }

    .forms-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 90%;
      max-width: 480px;
      overflow: hidden;

      .forms-container {
        background-color: var(--ion-color-light);
        display: flex;
        width: 100%;
        align-items: flex-start;
        transition: transform 0.3s ease;
        transform: translateX(0);
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-shrink: 0;

        ion-list {
          background-color: var(--ion-color-light);
          display: flex;
          flex-direction: column;
          gap: 1vh;
        }

        ion-item {
          --background: transparent;
          --padding-start: 0px;
          --inner-padding-end: 0px;
          overflow: visible;
        }

        ion-input {
          --border-color: #{$light-gray-2};
          --border-color-focused: #{$primary-red};
          --highlight-color: #{$primary-red};
          --highlight-color-focused: #{$primary-red};
          --border-radius: 10px;
          overflow: visible;
        }

        ion-item.invalid ion-input {
          --border-color: #{$dark-red};
          --border-color-focused: #{$dark-red};
          --highlight-color: #{$dark-red};
          --highlight-color-focused: #{$dark-red};
        }

        .error {
          margin: -6px 0 6px 8px;
          font-size: 0.85rem;
        }

        .forgot {
          display: block;
          text-align: end;
          color: $primary-red;
          font-size: 14px;
          font-weight: 600;
          margin: 0 8px 4px;
        }

        div {
          text-align: center;
          margin-top: 4px;

          ion-button {
            --border-radius: 10px;
            --border-width: 0px;
            --background: #{$primary-red};
            --background-activated: #{color.adjust(
                $primary-red,
                $lightness: -6%
              )};
            --background-focused: #{color.adjust($primary-red, $lightness: -3%)};
            --color: #{$pure-white};
            --padding-top: 12px;
            --padding-bottom: 12px;

            &.button-disabled {
              --background: #{$medium-gray-2};
              --color: #{$pure-white};
            }
          }
        }
      }
    }

    &.register-active {
      .forms-wrapper {
        .forms-container {
          transform: translateX(-100%);
        }
      }
    }
  }
}
