<div class="start-container">
  <div class="welcome-container">
    <img src="assets/svg/home-logo.svg" alt="home-image" />
    <h1>{{ user()?.name }}, o que deseja fazer?</h1>
  </div>
  <div class="links-container">
    <a>
      <img src="assets/svg/red/start-vote.svg" alt="" />
      <p>iniciar votação</p>
    </a>
    <a>
      <img src="assets/svg/red/add-session.svg" alt="" />
      <p>adicionar sessão</p>
    </a>
    <a>
      <img src="assets/svg/red/add-candidate.svg" alt="" />
      <p>adicionar candidato</p>
    </a>
    <a>
      <img src="assets/svg/red/track-vote.svg" alt="" />
      <p>acompanhar votação</p>
    </a>
    <a>
      <img src="assets/svg/red/allow-vote.svg" alt="" />
      <p>autorizar votação</p>
    </a>
  </div>
</div>
<div class="container">
  <h3>
    {{ sessions().length ? 'Sessões recentes' : 'Nenhuma Sessão Encontrada' }}
  </h3>
  <div class="sessions-container">
    @for (session of sessions(); track $index) {
      <session-card
        [session]="session"
        [index]="$index"
        (deleteEvent)="deleteSession($event)"
        (changeLoading)="changeLoading($event)"
      />
    }
  </div>
  <div class="link-container">
    <app-custom-link
      [path]="sessions().length ? ['/session'] : ['/session', 'add']"
    >
      <img src="assets/svg/red/see-sessions.svg" alt="" />
      {{ sessions().length ? 'Ver Sessões' : 'Criar Sessão' }}
    </app-custom-link>
  </div>
</div>
<div class="container">
  <h3>
    {{
      elections().length ? 'Eleições Recentes' : 'Nenhuma Eleição Encontrada'
    }}
  </h3>
  <div class="elections-container">
    @for (election of elections(); track $index) {
      <election-card
        [election]="election"
        [index]="$index"
        (deleteEvent)="deleteElection($event)"
        (changeLoading)="changeLoading($event)"
      />
    }
  </div>
  <div class="link-container">
    <app-custom-link
      [path]="elections().length ? ['/election'] : ['/election', 'add']"
    >
      <img src="assets/svg/red/troph.svg" alt="" />
      {{ elections().length ? 'Ver Eleições' : 'Criar Eleição' }}
    </app-custom-link>
  </div>
</div>
<footer>
  <div class="content">
    <p>{{ user()?.email }}</p>
    <div class="icons">
      <a>
        <img src="assets/svg/gray/terms.svg" alt="" />
      </a>
      <a>
        <img src="assets/svg/gray/config.svg" alt="" />
      </a>
      <a>
        <img src="assets/svg/gray/exit.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
