:host {
  display: flex;
  flex: 1;
  display: flex;
  justify-content: center;

  form {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    .date-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vh;

      label {
        text-align: center;
      }
    }
  }
}
