.custom-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  padding: 12px 24px;
  height: 40px;
  line-height: 40px;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.1s ease;
  gap: 1vw;
  text-align: center;

  &:active {
    transform: translateY(1px);
  }

  ::ng-deep img {
    filter: brightness(0) invert(1);
  }
}
