.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;

  .router {
    flex: 1;
    position: static;
  }
}

@media (max-width: 768px) {
  .app {
    flex-direction: column-reverse;
  }
}
