:host {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: var(--ion-color-light);
  position: relative;
  overflow: hidden;

  ion-content {
    height: 100%;
    --background: var(--ion-color-light);

    .content {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      flex: 1;
      height: 100%;
      padding: 5vh 3vw 5vh 0;
      overflow: hidden;

      .info {
        display: flex;
        height: auto;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
        flex-shrink: 0;

        .row {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-family: 'Azonix';
          }
        }
      }
    }
  }
}
